@model Book

<div class="card card-outline-primary m-1">

    <div class="bg-faded p-1">

        <h4>@Model.Title</h4>

        <span class="badge bg-info" style="float:right; font-size:1.5rem;">
            Price: $@Model.Price
        </span>

    </div>

    <ul class="text-center">
        <p>Author: @Model.Author</p>
        <p>Classification: @Model.Classification</p>
        <p>Category: @Model.Category</p>
        <p>Pages: @Model.PageCount</p>
        <p>Publisher: @Model.Publisher</p>
        <p>ISBN: @Model.Isbn</p>
    </ul>


    <form method="post" asp-page="/Donate">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Donate</button>
        </span>

    </form>

</div>
